.gallery {
    position: relative;
    max-width: 600px; /* Sesuaikan lebar galeri dengan kebutuhan Anda */
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slide {
    float: left;
    width: 100%;
    display: none;
  }
  
  img {
    width: 100%;
    height: auto;
  }
  
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }
  